extends layout

block content
    h1= title
    
        - let item_id = toShow._id
        - let name = toShow.name
        - let type = toShow.type
        - let cost = toShow.cost
        div
            div.row
                div(class='AbioticAttr mr-3') Abiotic ID is:
                div #{item_id}
            div.row
                div(class='AbioticAttr mr-3') item_name is:
                div #{name}
            div.row
                div(class='AbioticAttr mr-3') item_type is:
                div #{type}
            div.row
                div(class='AbioticAttr mr-3') item_cost is:
                div #{cost}
