extends layout

block content
  h1= title

  - var items = results
  div(class="container-fluid")
    div(class="row")
      each s in items
        div(class="col-sm-2", onclick=`buy('${s}')`)
          | #{s.name}, #{s.type}, #{s.cost}
          - let destination = `/Abiotic/update?id=${s._id}`
          button.btn(class="btn-info ml-1", onclick=`dispatch('${destination}')`) Update
